$primary-color:#3292a6;
$color-overlay: rgba(50,146,166,.8);

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 75px;
}
.navbar{
    box-shadow: 2px 2px 5px $primary-color;
    opacity: .9;
    background: #fff; 

    .nav-item{
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}
.info-header{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

#showcase{
    position: relative; 
    background: url(../images/mountains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;

    .section-overlay{
        background: $color-overlay;
        position: absolute; 
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; 
    }

    

    // &::before{
    //     content: "";
    //     background: $color-overlay;
    //     position: absolute; 
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%; 
        
    // }
}

#authors{
    img{
        margin-top: -50px;
    }
    .card{
        transition: all .3s;
    }
    .card:hover{
        background: $primary-color;
        color: #fff;
    }
    .card:hover .fab{
        color: #fff;
    }
}


@media only screen and (max-width:991px){
    .mb-respon-card{
        margin-bottom: 3rem; 
    }
} 


@media only screen and (max-width:768px){
    #showcase{
        min-height: 500px;

        h1{
            font-size: 4rem;
        }
    }
    #authors{
        h1{
            font-size: 1.5rem!important;
        }
    }
    .mb-respon{ 
        margin-bottom: 1rem; 
    }
    
    .mb-respon-card:not(:last-child){
        margin-bottom: 4rem; 
    }
    .font-respon{
        font-size: 1rem!important; 
    }
    
}
@media only screen and (max-width:400px){
    #showcase{
        min-height: 500px;
        margin-top: 3rem;
        padding-top: 3rem;
        h1{
            font-size: 3rem;
        }
    }
    .font-respon{
        font-size: 1rem!important; 
    }
    
}